# Directory target
target/
**/target/

# File di sistema
.DS_Store
Thumbs.db

# File IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# File di build
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# File di log
*.log
logs/